---
import { Icon } from 'astro-icon/components';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';
import type { Steps as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  callToAction = await Astro.slots.render('callToAction'),
  items = [],
  isReversed = false,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---
<WidgetWrapper
  id={id}
  isDark={isDark}
  containerClass={`max-w-5xl mx-auto ${classes?.container ?? ''}`}
  bg={bg}
>
  <!-- 3 COLUMN GRID -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">

    <!-- COLUMN 1 : OUR VALUES -->
    <div>
      <Headline
        title={title}
        subtitle={subtitle}
        tagline={tagline}
        classes={{
          container: 'text-center md:text-left rtl:md:text-right mb-6',
          title: 'mb-4 text-3xl lg:text-4xl font-bold font-heading',
          subtitle: 'mb-6 text-xl text-muted dark:text-slate-400',
        }}
      />

      <div class="text-center md:text-left rtl:md:text-right">
        {
          typeof callToAction === 'string' ? (
            <Fragment set:html={callToAction} />
          ) : (
            callToAction &&
            callToAction.text &&
            callToAction.href && (
              <Button variant="primary" {...callToAction} class="w-auto" />
            )
          )
        }
      </div>
    </div>

    <!-- COLUMN 2 -->
    <div>
      <ul class="space-y-10">
        {
          items?.slice(0, Math.ceil(items.length / 2)).map(
            ({ title: title2, description, icon }, index) => (
              <li class="flex">
                <div class="pr-4 rtl:pr-0 rtl:pl-4">
                  <span class="flex w-14 h-14 items-center justify-center rounded-full bg-blue-100 text-primary">
                    {icon ? <Icon name={icon} class="w-6 h-6" /> : index + 1}
                  </span>
                </div>
                <div>
                  <h3 class="mb-2 text-lg font-semibold font-heading" set:html={title2} />
                  <p class="text-muted dark:text-gray-400" set:html={description} />
                </div>
              </li>
            )
          )
        }
      </ul>
    </div>

    <!-- COLUMN 3 -->
    <div>
      <ul class="space-y-10">
        {
          items?.slice(Math.ceil(items.length / 2)).map(
            ({ title: title2, description, icon }, index) => (
              <li class="flex">
                <div class="pr-4 rtl:pr-0 rtl:pl-4">
                  <span class="flex w-14 h-14 items-center justify-center rounded-full bg-blue-100 text-primary">
                    {
                      icon
                        ? <Icon name={icon} class="w-6 h-6" />
                        : index + 1 + Math.ceil(items.length / 2)
                    }
                  </span>
                </div>
                <div>
                  <h3 class="mb-2 text-lg font-semibold font-heading" set:html={title2} />
                  <p class="text-muted dark:text-gray-400" set:html={description} />
                </div>
              </li>
            )
          )
        }

      </ul>
    </div>

  </div>
</WidgetWrapper>

